body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.password-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin-top: 20px;
  display: inline-block;
}

h1 {
  text-align: center;
}

.password {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.generate-button {
  background-color: #C05095;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.generate-button:hover {
  background-color: #B63082;
}